#encoding=UTF-8
NEWS_DATA_KEY=USER_SETTING

spring.datasource.url=jdbc:postgresql://localhost:5432/news-community
spring.datasource.username=USER_SETTING
spring.datasource.password=USER_SETTING
spring.datasource.driver-class-name=org.postgresql.Driver
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.r2dbc.R2dbcAutoConfiguration

springdoc.packagesToScan=com.salt.news

# Swagger
springdoc.swagger-ui.enabled=true
springdoc.api-docs.path=/api/api-docs
springdoc.swagger-ui.path=/api/index.html
springdoc.cache.disabled=true

#hikari.properties
driverClassName=com.mysql.jdbc.Driver
jdbcUrl=jdbc:mysql://localhost:3306/testdb?useSSL=false
maximumPoolSize=20
username=testuser
password=test623
dataSource.cachePrepStmts=true
dataSource.prepStmtCacheSize=250
dataSource.prepStmtCacheSqlLimit=2048

server.error.whitelabel.enabled=false
server.error.path=/error