# 환경 변수 템플릿 파일입니다.
# 실제 사용 시 이 파일을 .env로 복사하고 적절한 값을 입력하세요.
# API 키는 https://developer.nytimes.com/에서 발급받을 수 있습니다.

NYT_API_KEY=your-api-key-here

# 서버 실행 포트 설정
PORT=3001 

# Firebase 설정
FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=your_auth_domain
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_STORAGE_BUCKET=your_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
FIREBASE_APP_ID=your_app_id
